Django==4.2.24
django-crispy-forms==2.4.0
django-allauth==0.44.0
pyjwt==2.10.1
cryptography==45.0.7
google-api-python-client==2.181.0
djangorestframework==3.16.1
django-rest-swagger==2.2.0
coreapi==2.3.3
pyyaml==6.0.2
uritemplate==4.2.0
drf-yasg==1.21.7
python-dotenv==1.1.1
requests==2.32.5
django-autocomplete-light==3.12.1
pre-commit
