<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARENA Users</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'users/vendor/arenaxr-bootstrap/arenaxr-bootstrap.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'users/vendor/fontawesome/all.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}" type="text/css">

    <link rel="shortcut icon" type="image/png" href="{% static 'users/img/conix-x.png' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    {% block extrahead %}
    {% endblock extrahead %}

</head>

<body>
    {% url 'login' as login_url %}
    <!-- avoid navbar for users who have not logged in on login form yet-->
    {% if user.is_authenticated or request.get_full_path != login_url %}

    <style>
        body {
            padding-top: 60px;
        }

        /* fix padding under menu after resize */
        @media screen and (max-width: 767px) {
            body {
                padding-top: 60px;
            }
        }

        @media screen and (min-width:768px) and (max-width: 991px) {
            body {
                padding-top: 110px;
            }
        }

        @media screen and (min-width: 992px) {
            body {
                padding-top: 60px;
            }
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="/">
                <img alt="arena logo" src="{% static 'users/img/arena-logo-white.png' %}">
            </a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{request.scheme}}://{{request.get_host}}/user/scenes">Scenes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{request.scheme}}://{{request.get_host}}/build">Builder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{request.scheme}}://{{request.get_host}}/arts">Runtime</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{request.scheme}}://{{request.get_host}}/network">Network</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{request.scheme}}://{{request.get_host}}/files">File Store</a>
                    </li>
                    <li class="nav-item">
                        <!--https://atlas.conix.io-->
                        <a class="nav-link coming-soon" href="/">ATLAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://arena.conix.io">Documentation</a>
                    </li>
                </ul>
                <!-- Left links -->

                <!-- Navbar dropdown -->
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <!-- Dropdown menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.get_username}}</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="page-header">
        <div class="clearfix">
        </div>
    </div>
    {% endif %}

    {% block content %}

    {% endblock content %}

    <script type="text/javascript" src="{% static 'users/vendor/arenaxr-bootstrap/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{% static 'users/vendor/sweetalert2.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            // highlight active page in navbar
            $('.nav-link').filter(function() {
                const link = new URL(this.href).pathname.replace(/^\/+|\/+$/g, '');
                const loc = location.pathname.replace(/^\/+|\/+$/g, '');
                return link == loc;
            }).addClass('active');
        });

        $('.coming-soon').on('click', function(e) {
            e.preventDefault();
            alert('COMING SOON');
        });

        function returnToRequestedPage() {
            if (localStorage.getItem("request_uri")) {
                //redirect user to originally requested page
                location.href = localStorage.getItem("request_uri");
                localStorage.removeItem("request_uri");
            } else {
                //redirect user to root page
                location.href = `${window.location.origin}/user/scenes`;
            }
        }
    </script>

    {% block extrajs %}
    {% endblock extrajs %}
</body>

</html>
