{% extends "users/header.html" %}

<title>Sign In to the ARENA</title>

{% block content %}

{% load socialaccount %}
{% load static %}

<!--Login-->

{% include 'users/includes/messages.html' %}
{% csrf_token %} <!-- TODO: keep csrf_token for python apps temporarily -->
<div class="d-flex align-items-center min-vh-100">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-md-6 bg-light border-grey border-1 border shadow-sm shadow p-5">
                <div class="row mb-3">
                    <h3>Login</h3>
                </div>
                <div class="row mb-5 text-center">
                    <div class="col">
                        <img alt="conix logo" class="top-logo" src="{% static 'users/img/xr-logo-v8.png' %}" />
                    </div>
                </div>
                <div class="row">
                    <form id="loginForm">
                        {% csrf_token %}
                        <div class="form-floating mb-3" id="usernameContainer">
                            <input class="form-control" id="usernameInput" type="text">
                            <label for="usernameInput">Display Name</label>
                        </div>

                        <div class="btn btn-light btn-block" id="googleBtn"
                            onclick="location.href='{% provider_login_url 'google' %}';">
                            <div id="customBtnGoogle">
                                <span class="icon"></span>
                                <span class="buttonText">Continue with Google</span>
                            </div>
                        </div>

                        <a class="btn btn-light btn-block" id="anonBtn" type="submit" style="background-color: #777" href="#!"
                            role="button">
                            <i class="fas fa-user-secret me-2"></i>Continue Anonymously
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'users/js/login.js' %}"></script>
{% endblock extrajs %}
