<title>Sign In to the ARENA</title>
{% extends "users/header.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
<script type="text/javascript" src="{% static 'users/js/login.js' %}"></script>

<!--Login-->
<div class="bg-img">
    {% include 'users/includes/messages.html' %}
    <form class="login login-form" id="login-form" method="post">
        <h1>Sign In to the ARENA</h1>

        <!-- <div id="emailSignInWrapper">
            <div class="customBtn" id="customBtnEmail">
                <span class="icon">
                    <i class="fa fa-at"></i>
                </span>
                <span class="buttonText">Email</span>
            </div>
        </div> -->
        <div id="gSignInWrapper" onclick="location.href='{% provider_login_url 'google' %}';">
            <div class="customBtn" id="customBtnGoogle">
                <span class="icon"></span>
                <span class="buttonText">Google</span>
            </div>
        </div>
        <!-- <div id="githubSignInWrapper" onclick="location.href='{% provider_login_url 'github' %}';">
            <div class="customBtn" id="customBtnGitHub">
                <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
                <span class="buttonText">GitHub</span>
            </div>
        </div> -->
        <div id="anonSignInWrapper">
            <div class="customBtn" id="customBtnAnon">
                <span class="icon">
                    <i class="fa fa-user-secret"></i>
                </span>
                <span class="buttonText">Anonymously</span>
            </div>
        </div>

        <div hidden id="emailLoginWrapper">
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class="btn btn-primary" type="submit">Login</button>
            <!-- <label class="remember-me"><input type="checkbox" name="remember" />Remember me</label> -->
            <p class="text-center"><a href="/user/register">Create</a> an account.</p>
            <p class="forget-psw">Forgot <a href="/user/password_reset">password</a>?</p>
        </div>
        <div hidden id="anonNameWrapper">Great! Your preferred name is...
            <input id="usernameInput" placeholder="Hi! My name is..." type="text"
                pattern="^(?=[^A-Za-z]*[A-Za-z]{2,})[ -~]*$" />
            <button id="btnAnonName" type="button">Enter</button>
        </div>

    </form>
</div>

{% endblock content %}
