{% extends "users/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container p-5">
    {% include 'users/includes/messages.html' %}
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {{ crispy }}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

{% endblock content %}
