{% extends "users/header.html" %}

{% block content %}

{% include 'users/includes/messages.html' %}

<!-- Scene Permissions Detail-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-7 col-md-8 shadow rounded bg-white p-5">

            <h1>Edit Scene Permissions</h1>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><b>Scene:</b></td>
                        <td>{{ scene.name }}</td>
                    </tr>
                    {{ form.as_table }}
                </table>
                <br>
                <button type="submit" class="btn btn-primary btn-sm" name="save">Save</button>
                <button type="submit" class="btn btn-primary btn-sm" name="delete"
                    onclick="return confirm('Are you sure you want to delete {{ scene.name }}?');">Delete</button>
            </form>

        </div>
    </div>
</div>

{% endblock content %}
