{% extends "users/header.html" %}

{% block content %}

{% include 'users/includes/messages.html' %}

<!-- Scene Permissions Detail-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-8 col-md-8 shadow rounded bg-white p-5">

            <h1>Edit Scene Permissions</h1>
            <form id="scene_perms_form" action="" method="post">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><b>Scene:</b></td>
                        <td><b>{{ scene.name }}</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Public Read:</b></td>
                        <td>{{ form.public_read }}</td>
                        <td>Allow any user to view the scene (default: on).</td>
                    </tr>
                    <tr>
                        <td><b>Public Write:</b></td>
                        <td>{{ form.public_write }}</td>
                        <td>Allow any user to edit the scene (default: off). On: disables whitelisted Editors, allowing
                            all users to edit. </td>
                    </tr>
                    <tr>
                        <td><b>Anonymous Users:</b></td>
                        <td>{{ form.anonymous_users }}</td>
                        <td>Allow anonymous users to connect to the scene (default: on).</td>
                    </tr>
                    <tr>
                        <td><b>Video Conferencing:</b></td>
                        <td>{{ form.video_conference }}</td>
                        <td>Allow users to video conference (default: on).</td>
                    </tr>
                    <tr>
                        <td><b>Editors:</b></td>
                        <td>{{ form.editors }}</td>
                        <td>Select/deselect specific editors.<br>Autocompletes on valid usernames.<br>Clear All: right
                            x. Clear One: left x on left side of username.</td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary btn-sm" name="save">Save</button>
                <a href="{{request.scheme}}://{{request.get_host}}/build/?scene={{ scene.name }}"
                    class="btn btn-primary btn-sm">Edit Scene Objects</a>
                <hr />
                <input type="button" class="btn btn-danger btn-sm" onclick="clickDelete(this);" value="Delete Scene" />
            </form>

        </div>
    </div>
    <script>
        window.onload = onPageLoad();

        function onPageLoad() {
            let checkbox = document.getElementById("id_public_write");
            let select = document.getElementById("id_editors");
            updatePublicWrite(checkbox, select);
            checkbox.addEventListener('change', function() {
                updatePublicWrite(checkbox, select);
            });
        }

        function updatePublicWrite(checkbox, select) {
            if (checkbox.checked == true) {
                select.disabled = true;
            } else {
                select.disabled = false;
            }
        }

        async function clickDelete() {
            Swal.fire({
                title: 'Are you sure you want to delete scene {{ scene.name }}?',
                showCancelButton: true,
                confirmButtonText: `Yes`,
                customClass: {
                    cancelButton: 'order-1 right-gap',
                    confirmButton: 'order-2',
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // submit delete in form manually
                    const form = document.getElementById('scene_perms_form');
                    const input = document.createElement('input');
                    input.setAttribute('name', 'delete');
                    form.appendChild(input);
                    form.submit();
                }
            })
        }
    </script>
</div>

{{ form.media }}

<script>
    (function($) {
        $('#add-form').click(function() {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function() {
                for (attr of ['username', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()
        })
    })($)
</script>

{% endblock content %}
