{% extends "users/header.html" %}

{% block content %}

{% include 'users/includes/messages.html' %}

<!--Profile-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-7 col-md-8 shadow rounded bg-white p-5">

            <form method="post">
                {{ formset.management_form }}
                {% for form in formset %}

                <b>{{ form.name }}</b><br>
                {{ form.public_read.label_tag }} {{ form.public_read }} <br>
                {{ form.public_write.label_tag }} {{ form.public_write }} <br>
                {{ form.editors.label_tag }} {{ form.editors }} <br>

                <p></p>
                {% endfor %}
                <td><button type="submit" class="btn btn-primary btn-sm" name="save"
                        value="{{ scene.name }}">Save</button></td>
                <td><button type="submit" class="btn btn-primary btn-sm" name="delete" value="{{ scene.name }}"
                        onclick="return confirm('Are you sure you want to delete {{ scene.name }}?');">Delete</button>
            </form>

        </div>
    </div>
</div>

{% endblock content %}
