{% extends "users/header.html" %}

{% block extrahead %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
{% endblock extrahead %}

{% block content %}

    {% include 'users/includes/messages.html' %}
    {% load static %}


    <div class="d-flex align-items-center min-vh-75 routePage" id="sceneSelect">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-6 p-5 col-md-8 shadow rounded bg-white">
                    {% if not user.is_authenticated %}
                        <h5>Anonymous users have no profile.</h5>
                    {% else %}
                        <div class="row mb-3">
                            <div class="col">
                                <h3><img alt="conix xr logo" style="max-height: 32px" src="{% static 'users/img/xr-logo-v7.png' %}"/>
                                    Welcome {{ user.get_username }}
                                </h3>
                            </div>
                        </div>
                        <hr/>
                        <h3 class="mb-3">My Scenes</h3>
                        <div class="row text-center">
                            <div class="col">
                                <div class="form-group">
                                    <label aria-hidden="true" class="form-label d-none" for="userSceneSelect">
                                        Search My Scenes
                                    </label>
                                    <select aria-label="Scene Select" id="userSceneSelect"
                                            data-placeholder="Search My Scene Names">
                                        {% for scene in scenes %}
                                            {% if scene.namespace == user.get_username %}
                                                <option value="{{ scene.name }}">{{ scene.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row g-1 mb-3">
                            <div class="col-4">
                                <button class="btn btn-primary w-100 disabled" id="enterUserSceneBtn"><i
                                        class="fas fa-sign-in-alt"></i> Enter Scene
                                </button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-info w-100 disabled" id="cloneUserSceneBtn">
                                    <i class="far fa-clone"></i> Clone Scene
                                </button>
                            </div>
                            <div class="col-4">
                                {% csrf_token %}
                                <button class="btn btn-danger w-100 disabled" id="deleteUserSceneBtn">
                                    <i class="far fa-trash-alt"></i> Delete Scene
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Scene URL</span>
                                    <input
                                            aria-label="Scene URL"
                                            class="form-control form-control-sm"
                                            id="userSceneUrl"
                                            readonly
                                            type="text"
                                            value=""
                                    />
                                    <button class="btn btn-primary disabled" id="copyUserSceneUrlBtn">Copy Link</button>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <h3 class="mb-3">Discover Public Scenes</h3>
                        <div class="row text-center">
                            <div class="col">
                                <div class="form-group">
                                    <label aria-hidden="true" class="form-label d-none" for="publicSceneSelect">
                                        Search Public Scenes
                                    </label>
                                    <select aria-label="Scene Select" id="publicSceneSelect"
                                            data-placeholder="Search Public Scene Names">
                                        {% for scene in scenes %}
                                            {% if scene.namespace == "public" %}
                                                <option value="{{ scene.name }}">{{ scene.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row g-1 mb-3">
                            <div class="col-6">
                                <button class="btn btn-primary w-100 disabled" id="enterPublicSceneBtn">
                                    <i class="fas fa-sign-in-alt"></i> Enter Scene
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-info w-100 disabled" id="clonePublicSceneBtn">
                                    <i class="far fa-clone"></i> Clone Scene
                                </button>
                            </div>
                            <input aria-hidden="true" class="d-none" id="publicSceneUrl" type="hidden" value=""/>
                        </div>
                        <hr/>
                        <h4 class="mb-3">Advanced</h4>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="/build">Builder</a>
                                <a class="btn btn-primary" href="#">File Store</a>
                            </div>
                        </div>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>


    <div class="d-none d-flex align-items-center min-vh-75 routePage" id="cloneScene">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-5 p-5 col-md-8 shadow rounded bg-white">
                    <button type="button" class="close float-end" id="closeCloneScene" aria-label="Close">
                        <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                    </button>
                    <div class="row mb-3">
                        <div class="col">
                            <h3>
                                <img alt="conix xr logo" style="max-height: 32px" src="{% static 'users/img/xr-logo-v7.png' %}"/>
                                Clone a Scene
                            </h3>
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-12 mb-3">
                            <div class="input-group">
                                <label class="d-none" aria-hidden="true" for="sourceScene">Source Scene</label>
                                <span class="input-group-text">Source Scene</span>
                                <input class="form-control" id="sourceScene" readonly type="text">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-outline mb-3">
                                <input class="form-control" id="newSceneNameInput" type="text">
                                <label class="form-label" for="newSceneNameInput">New Scene Name</label>
                            </div>
                            <button class="d-none btn btn-warning float-end"><i class="fas fa-lock"></i> Protect
                            </button>
                        </div>
                        <div class="col-12" id="doCloneSceneContainer">
                            <button class="btn btn-primary w-100 disabled" id="doCloneSceneBtn">
                                <i class="far fa-clone"></i> Clone Scene
                            </button>
                        </div>
                        <div class="col-12 d-none" id="cloneSceneCreated">
                            <label class="form-label" for="cloneSceneUrl">New Scene URL</label>
                            <div class="input-group mb-3">
                                <input
                                        aria-label="Scene URL"
                                        class="form-control form-control-sm"
                                        id="cloneSceneUrl"
                                        readonly
                                        type="text"
                                        value=""
                                />
                                <button class="btn btn-primary" id="copyCloneSceneUrlBtn">Copy Link</button>
                            </div>
                            <button class="btn btn-primary w-100" id="enterCloneSceneBtn">
                                <i class="fas fa-sign-in-alt"></i> Enter Scene
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'users/js/scenes.js' %}"></script>
    <script>
        window.username = '{{ user.get_username }}';
    </script>

{% endblock content %}
