{% extends "users/header.html" %}
{% load static %}
{% load account %}
{% load socialaccount %}

{% block content %}

{% include 'users/includes/messages.html' %}

<!--Social Sign Up-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-7 col-md-8 shadow rounded bg-white p-5">

            <h3>Sign Up</h3>
            <p>You are about to use your
                {{account.get_provider.name}} account to login to ARENA. As a final step, please complete the
                following form:</p>
            <form class="signup" id="signup_form" method="post" action="{% url 'users:socialaccount_signup' %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-secondary">Sign Up &raquo;</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
