{% extends "users/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Profile-->
<div class="container p-5">
    {% include 'users/includes/messages.html' %}
    {% if user.is_authenticated %}
        <h1>User Profile</h1>
        Username: {{ user.get_username }}<br>
        Name: {{ user.first_name }} {{ user.last_name }}<br>
        Email: {{ user.email }}<br>
        Groups: {{ user.groups }}<br>
        Permissions: {{ user.user_permissions }}<br>
        Staff Role: {{ user.is_staff }}<br>
        Superuser Role: {{ user.is_superuser }}<br>
        <br>
        {% if user.is_superuser %}
            <!-- Set or Remove user as Staff -->
            <h5>Admin Functions:</h5>
            <form action="update_staff" method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="staff_username" name="staff_username">
                <button type="submit" name="is_staff" value="true">Add Staff</button>
                <button type="submit" name="is_staff" value="false">Remove Staff</button>
            </form>
            <h5>Staff Users:</h5>
            <ul>
                {% if staff %}
                    {% for staff_user in staff %}
                        <li>{{ staff_user.username }}</li>
                    {% endfor %}
                {% else %}
                    <li>None</li>
                {% endif %}
            </ul>
            <br>
        {% endif %}
        <!-- List scenes user can edit, and links -->
        <h5>Scene Write MQTT Permissions:</h5>
        <ul>
            {% if scenes %}
                {% for scene in scenes %}
                    <li><a href="../../{{ scene.name }}">{{ scene.name }}</a></li>
                {% endfor %}
            {% else %}
                <li>None</li>
            {% endif %}
            </ul>
        <br>
        {% else %}
        <h5>Anonymous users have no profile.</h5>
    {% endif %}
</div>

{% endblock content %}
