{% extends "users/header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Profile-->
<div class="container p-5">
    {% include 'users/includes/messages.html' %}
    {% if user.is_authenticated %}
        <h1>User Profile</h1>
        Username: {{ user.get_username }}<br>
        Name: {{ user.first_name }} {{ user.last_name }}<br>
        Email: {{ user.email }}<br>
        Groups: {{ user.groups }}<br>
        Permissions: {{ user.user_permissions }}<br>
        Staff Role: {{ user.is_staff }}<br>
        Superuser Role: {{ user.is_superuser }}<br>
        <br>
        <!-- New Scene Request -->
        <h5>New Scene Request:</h5>
        <form action="new_scene" method="POST" onsubmit="location.reload();">>
            <small style="color: grey">Do not include username or slash '/', it will be generated for you.</small><br>
            {% csrf_token %}
            {% if staff %}
                <label for="is_public">Public:</label>
                <input type="checkbox" name="is_public">
                <br>
            {% endif %}
            <label for="scene">Scene Name:</label>
            <input type="text" name="scene" pattern="^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,200}$">
            <button type="submit" class="btn btn-primary btn-sm">Request Scene</button><br>
        </form>
        <br>
        {% if user.is_superuser %}
            <!-- Set or Remove user as Staff -->
            <h5>Admin Functions:</h5>
            <form action="update_staff" method="POST" onsubmit="location.reload();">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="staff_username" pattern="^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$">
                <button type="submit" class="btn btn-primary btn-sm" name="is_staff" value="true">Add Staff</button>
                <button type="submit" class="btn btn-primary btn-sm" name="is_staff" value="false">Remove Staff</button>
            </form>
            <h5>Staff Users:</h5>
            <ul>
                {% if staff %}
                    {% for staff_user in staff %}
                        <li>{{ staff_user.username }}</li>
                    {% endfor %}
                {% else %}
                    <li>None</li>
                {% endif %}
            </ul>
            <br>
        {% endif %}
        <!-- List scenes user can edit, and links -->
        <h5>Scene Permissions:</h5>
            <ul>
            {% if scenes %}
                <small style="color: grey">Public writes to objects and events are currently synced in this version of the ARENA.</small><br>
                <table>
                <tr>
                    <td></td><td></td>
                    <td>Public</td><td></td>
                    <td>Public</td><td></td>
                    <td>Public</td><td></td>
                    <!-- <td>Other</td><td></td> -->
                </tr>
                <tr>
                    <td>Scene</td><td></td>
                    <td>Read</td><td></td>
                    <td>Write</td><td></td>
                    <td>Events</td><td></td>
                    <!-- <td>Editors</td><td></td> -->
                </tr>
                {% for scene in scenes %}
                <form action="update_scene" method="POST" onsubmit="location.reload();">
                    {% csrf_token %}
                    <tr>
                    <td><a href="../../{{ scene.name }}">{{ scene.name }}</a></td><td></td>
                    <!--public subscribe ok-->
                    {% if scene.public_read %}
                    <td><input name="public_read" type="checkbox" checked /></td><td></td>
                    {% else %}
                    <td><input name="public_read" type="checkbox" /></td><td></td>
                    {% endif %}
                    <!--public publish objects ok-->
                    {% if scene.public_write %}
                    <td><input name="public_write" type="checkbox" checked /></td><td></td>
                    {% else %}
                    <td><input name="public_write" type="checkbox" /></td><td></td>
                    {% endif %}
                    <!--public publish events ok-->
                    <!-- TODO: for now, publish object changes and object events are the same permissions by topic-->
                    {% if scene.public_write %}
                    <td><input name="public_event" type="checkbox" disabled checked/></td><td></td>
                    {% else %}
                    <td><input name="public_event" type="checkbox" disabled /></td><td></td>
                    {% endif %}
                    <!--editors-->
                    <!-- <td>
                        <button class="dropdown-toggle" data-toggle="dropdown">Other editors<span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {{ scene.editors }}
                        </ul>
                    </td><td></td> -->
                    <td><button type="submit" class="btn btn-primary btn-sm" name="name" value="{{ scene.name }}">Save</button></td><td></td>
                </tr>
                </form>
                {% endfor %}
                </table>
            {% else %}
                None
            {% endif %}
        <br>
        {% else %}
        <h5>Anonymous users have no profile.</h5>
    {% endif %}
</div>

{% endblock content %}
