{% extends "users/header.html" %}

{% block content %}

{% include 'users/includes/messages.html' %}

<!--Profile-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-9 col-md-10 shadow rounded bg-white p-5">

            {% if user.is_authenticated %}
            <h1>User Profile</h1>
            <table>
                <tr>
                    <td><b>Username: </b></td>
                    <td>{{ user.get_username }}</td>
                </tr>
                <tr>
                    <td><b>Name: </b></td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                </tr>
                <tr>
                    <td><b>Email: </b></td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td><b>Role: </b></td>
                    <td>
                        {% if user.is_superuser %} Admin
                        {% elif user.is_staff %} Staff
                        {% elif user.is_authenticated %} User
                        {% else %} Anonymous
                        {% endif %}
                    </td>
                </tr>
            </table>
            <br>
            {% if user.is_superuser %}
            <!-- Set or Remove user as Staff -->
            <h5>Admin Functions:</h5>
            <form action="profile_update_staff" method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="staff_username" pattern="^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$">
                <button type="submit" class="btn btn-primary btn-sm" name="is_staff" value="true">Add Staff</button>
                <button type="submit" class="btn btn-primary btn-sm" name="is_staff" value="false">Remove Staff</button>
            </form>
            <br>
            <h5>Staff Users:</h5>
            {% if staff %}
            <table class="table table-sm table-hover">
                <tr>
                    <th>Username</th>
                    <th></th>
                    <th>Email</th>
                    <th></th>
                    <th>Full Name</th>
                    <th></th>
                </tr>
                {% for staff_user in staff %}
                <tr>
                    <td><b>{{ staff_user.username }}</b></td>
                    <td></td>
                    <td>{{ staff_user.email }}</td>
                    <td></td>
                    <td>{{ staff_user.first_name }} {{ staff_user.last_name }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <ul>
                <li>None</li>
            </ul>
            {% endif %}
            <br>
            {% endif %}
            <!-- List scenes user can edit, and links -->
            <h5>Scene Permissions:</h5>
            {% if scenes %}
            <table class="table table-sm table-hover">
                <thead class="thead-light">
                    <th>Scene</th>
                    <th>Public Read</th>
                    <th>Public Write</th>
                    <th>Anonymous Users</th>
                    <th>Other Editors</th>
                    <th></th>
                </thead>
                {% for scene in scenes %}
                <form action="profile_update_scene" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td><a href="../../{{ scene.name }}"><b>{{ scene.name }}</b></a></td>
                        <!--public subscribe ok-->
                        <td>
                            {% if scene.public_read %}
                            <b>Allow</b>
                            {% else %}
                            Deny
                            {% endif %}
                        </td>
                        <!--public publish objects ok-->
                        <td>
                            {% if scene.public_write %}
                            <b>Allow</b>
                            {% else %}
                            Deny
                            {% endif %}
                        </td>
                        <!--anonymous users ok-->
                        <td>
                            {% if scene.anonymous_users %}
                            <b>Allow</b>
                            {% else %}
                            Deny
                            {% endif %}
                        </td>
                        <!--number of editors-->
                        <td>
                            {{ scene.editors.all|join:", " }}
                        </td>
                        <td><button type="submit" class="btn btn-primary btn-sm" name="edit"
                                value="{{ scene.name }}">Edit</button></td>
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </table>
            {% else %}
            None
            {% endif %}
            <br>
            {% else %}
            <h5>Anonymous users have no profile.</h5>
            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}
