/*
    style.css

    Styling for the ARENA sign in page.
*/

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.top-logo {
    max-height: 100px;
}

* {
    box-sizing: border-box;
}

.g-signin2 {
    width: 100%;
    font-size: 15px;
    margin: 0 0 10px;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

.lt-ie9 input[type="email"],
.lt-ie9 input[type="text"],
.lt-ie9 input[type="password"] {
    line-height: 34px;
}

span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

#customBtnGoogle span.icon {
    background: url('../img/g-normal.png') transparent 5px 50% no-repeat;
}

.min-vh-75 {
    min-height: 75vh
}

.intro-text {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
}

.font-weight-boldest {
    font-weight: 900;
}

.btn-xred {
 color:#fff;
 background-color:#a42629;
 font-size: 1em;
 font-weight: 900;
}
.btn-xred.focus,
.btn-xred:focus,
.btn-xred:hover {
 color:#fff;
 background-color:#8d2013
}
.btn-check:active+.btn-xred,
.btn-check:checked+.btn-xred,
.btn-xred.active,
.btn-xred:active,
.show>.btn-xred.dropdown-toggle {
 color:#fff;
 background-color:#521819
}
.btn-check:active+.btn-xred:focus,
.btn-check:checked+.btn-xred:focus,
.btn-xred.active:focus,
.btn-xred:active:focus,
.show>.btn-xred.dropdown-toggle:focus {
 -webkit-box-shadow:0 4px 10px 0 rgba(0,0,0,.2),0 4px 20px 0 rgba(0,0,0,.1);
 box-shadow:0 4px 10px 0 rgba(0,0,0,.2),0 4px 20px 0 rgba(0,0,0,.1)
}
.btn-xred.disabled,
.btn-xred:disabled {
 color:#fff;
 background-color:#a42629
}

.btn-outline-xred {
 color:#a42629;
 border-color:#a42629;
 font-size: 1em;
 font-weight: 900;
}
.btn-outline-xred:hover {
 color:#a42629;
 background-color:rgba(0,0,0,.02)
}
.btn-outline-xred.active,
.btn-outline-xred.dropdown-toggle.show,
.btn-outline-xred.focus,
.btn-outline-xred:active,
.btn-outline-xred:focus {
 color:#a42629;
 background-color:transparent
}
.btn-outline-xred.active:focus,
.btn-outline-xred.dropdown-toggle.show:focus,
.btn-outline-xred:active:focus {
 -webkit-box-shadow:none;
 box-shadow:none
}
.btn-outline-xred.disabled,
.btn-outline-xred:disabled {
 color:#a42629
}


.social-icon {
    max-height: 48px;
}

img.scene-thumb {
    transition: transform .25s ease;
}

@media (min-width: 1200px) {
    img.scene-thumb:hover {
        transform: scale(1.75);
    }
    .thumb-container:nth-child(4n+2) img.scene-thumb:hover {
        transform: translateX(30%) scale(1.75);
    }
    .thumb-container:nth-child(4n+1) img.scene-thumb:hover {
        transform: translateX(-30%) scale(1.75);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    img.scene-thumb:hover {
        transform: scale(1.5);
    }
    .thumb-container:nth-child(3n+2) img.scene-thumb:hover {
        transform: translateX(25%) scale(1.5);
    }
    .thumb-container:nth-child(3n+1) img.scene-thumb:hover {
        transform: translateX(-25%) scale(1.5);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .thumb-container:nth-child(even) img.scene-thumb:hover {
        transform: translateX(25%) scale(1.5);
    }
    .thumb-container:nth-child(odd) img.scene-thumb:hover {
        transform: translateX(-25%) scale(1.5);
    }
}
