/*
    style.css

    Styling for the ARENA sign in page.
*/

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.top-logo {
    max-height: 100px;
}

* {
    box-sizing: border-box;
}

.g-signin2 {
    width: 100%;
    font-size: 15px;
    margin: 0 0 10px;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

.lt-ie9 input[type="email"],
.lt-ie9 input[type="text"],
.lt-ie9 input[type="password"] {
    line-height: 34px;
}

span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

#customBtnGoogle span.icon {
    background: url('../img/g-normal.png') transparent 5px 50% no-repeat;
}

.min-vh-75 {
    min-height: 75vh
}
